In [1]:
#DataFrame의 정체를 확인
    #.shape
#data 구성
    #.dtypes
#변수구성
    #.columns
#Series확인
    #.columns의 변수명

In [2]:
import pandas as pd
import numpy as np

In [45]:
test = pd.DataFrame({'이름':['김담향','이재빈','김나영','김건우','김태영','김동일'],'나이':[33,25,26,28,26,26],'박물관방문':[5,1,4,1,20,21],'방문회수비율':[0.15,0.04,0.15,0.05,0.78,0.81],'성별':['여자','남자','여자','남자','남자','남자']})

In [4]:
test1 = pd.DataFrame({'이름':['명하영','조가영','강다솜'],'나이':[27,27,28],'박물관방문':[8,9,np.nan]})

In [5]:
test1

    이름  나이  박물관방문
0  명하영  27    8.0
1  조가영  27    9.0
2  강다솜  28    NaN

In [6]:
test = pd.concat([test,test1])

In [7]:
test

    이름  나이  박물관방문  방문회수비율   성별
0  김담향  33    5.0    0.15   여자
1  이재빈  25    1.0    0.04   남자
2  김나영  26    4.0    0.15   여자
3  김건우  28    1.0    0.05   남자
4  김태영  26   20.0    0.78   남자
5  김동일  26   21.0    0.81   남자
0  명하영  27    8.0     NaN  NaN
1  조가영  27    9.0     NaN  NaN
2  강다솜  28    NaN     NaN  NaN

In [8]:
test.박물관방문.fillna(test.박물관방문.mean(),inplace=True)
test

    이름  나이   박물관방문  방문회수비율   성별
0  김담향  33   5.000    0.15   여자
1  이재빈  25   1.000    0.04   남자
2  김나영  26   4.000    0.15   여자
3  김건우  28   1.000    0.05   남자
4  김태영  26  20.000    0.78   남자
5  김동일  26  21.000    0.81   남자
0  명하영  27   8.000     NaN  NaN
1  조가영  27   9.000     NaN  NaN
2  강다솜  28   8.625     NaN  NaN

In [9]:
test.iloc[test.방문회수비율.isna().values,3] = test.iloc[test.방문회수비율.isna().values,2]/test.iloc[test.방문회수비율.isna().values,1]

In [10]:
test.loc[test.성별.isna(),'성별'] = '여자'
test

    이름  나이   박물관방문    방문회수비율  성별
0  김담향  33   5.000  0.150000  여자
1  이재빈  25   1.000  0.040000  남자
2  김나영  26   4.000  0.150000  여자
3  김건우  28   1.000  0.050000  남자
4  김태영  26  20.000  0.780000  남자
5  김동일  26  21.000  0.810000  남자
0  명하영  27   8.000  0.296296  여자
1  조가영  27   9.000  0.333333  여자
2  강다솜  28   8.625  0.308036  여자

In [11]:
test.박물관방문 = test.박물관방문.astype(int)

In [12]:
test.dtypes

이름         object
나이          int64
박물관방문       int32
방문회수비율    float64
성별         object
dtype: object

In [13]:
tmp = pd.DataFrame(np.vstack([test.values,np.array(['이강욱',43,100,100/43,'남자'])]))

In [14]:
tmp.columns = test.columns

In [15]:
tmp

    이름  나이 박물관방문              방문회수비율  성별
0  김담향  33     5                0.15  여자
1  이재빈  25     1                0.04  남자
2  김나영  26     4                0.15  여자
3  김건우  28     1                0.05  남자
4  김태영  26    20                0.78  남자
5  김동일  26    21                0.81  남자
6  명하영  27     8            0.296296  여자
7  조가영  27     9            0.333333  여자
8  강다솜  28     8            0.308036  여자
9  이강욱  43   100  2.3255813953488373  남자

In [16]:
tmp.loc[tmp.이름!='이강욱',:]

    이름  나이 박물관방문    방문회수비율  성별
0  김담향  33     5      0.15  여자
1  이재빈  25     1      0.04  남자
2  김나영  26     4      0.15  여자
3  김건우  28     1      0.05  남자
4  김태영  26    20      0.78  남자
5  김동일  26    21      0.81  남자
6  명하영  27     8  0.296296  여자
7  조가영  27     9  0.333333  여자
8  강다솜  28     8  0.308036  여자

In [17]:
tmp.drop([9],axis=0)

    이름  나이 박물관방문    방문회수비율  성별
0  김담향  33     5      0.15  여자
1  이재빈  25     1      0.04  남자
2  김나영  26     4      0.15  여자
3  김건우  28     1      0.05  남자
4  김태영  26    20      0.78  남자
5  김동일  26    21      0.81  남자
6  명하영  27     8  0.296296  여자
7  조가영  27     9  0.333333  여자
8  강다솜  28     8  0.308036  여자

In [18]:
tmp.drop(index=[9])

    이름  나이 박물관방문    방문회수비율  성별
0  김담향  33     5      0.15  여자
1  이재빈  25     1      0.04  남자
2  김나영  26     4      0.15  여자
3  김건우  28     1      0.05  남자
4  김태영  26    20      0.78  남자
5  김동일  26    21      0.81  남자
6  명하영  27     8  0.296296  여자
7  조가영  27     9  0.333333  여자
8  강다솜  28     8  0.308036  여자

In [19]:
tmp.dtypes

이름        object
나이        object
박물관방문     object
방문회수비율    object
성별        object
dtype: object

In [20]:
tmp.나이 = tmp.나이.astype('object')

In [21]:
for col in tmp.columns:
    try:
        tmp[col] = tmp[col].astype(int)
    except:
        try:
            tmp[col] = tmp[col].astype(float)
        except:    
            pass

In [22]:
tmp.dtypes

이름         object
나이          int32
박물관방문       int32
방문회수비율    float64
성별         object
dtype: object

In [23]:
def mk_str(x):
    r = ''
    for i in x:
        r += str(i)
    return r
mk_str(tmp.iloc[0,:])

'김담향3350.15여자'

In [24]:
tmp.loc[tmp.방문회수비율 < 1,'박물관방문'].mean()

8.555555555555555

In [25]:
tmp.loc[tmp.이름.str[0:1] != '김','방문회수비율']

1    0.040000
6    0.296296
7    0.333333
8    0.308036
9    2.325581
Name: 방문회수비율, dtype: float64

In [26]:
tmp.이름.str.slice(0,1)

0    김
1    이
2    김
3    김
4    김
5    김
6    명
7    조
8    강
9    이
Name: 이름, dtype: object

In [27]:
tmp.loc[~tmp.이름.str.contains('김') & (tmp.이름 != '이강욱'),'나이'].mean()

26.75

In [28]:
tmp = pd.concat([tmp,tmp.iloc[[0,3,7],:]])

In [29]:
tmp

    이름  나이  박물관방문    방문회수비율  성별
0  김담향  33      5  0.150000  여자
1  이재빈  25      1  0.040000  남자
2  김나영  26      4  0.150000  여자
3  김건우  28      1  0.050000  남자
4  김태영  26     20  0.780000  남자
5  김동일  26     21  0.810000  남자
6  명하영  27      8  0.296296  여자
7  조가영  27      9  0.333333  여자
8  강다솜  28      8  0.308036  여자
9  이강욱  43    100  2.325581  남자
0  김담향  33      5  0.150000  여자
3  김건우  28      1  0.050000  남자
7  조가영  27      9  0.333333  여자

In [30]:
tmp.loc[~tmp.duplicated(),:].duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [31]:
tmp['방문등급'] = np.where(tmp.박물관방문 >= 20,'A',np.where(tmp.박물관방문 >= 9, 'B', 'C'))

In [32]:
tmp

    이름  나이  박물관방문    방문회수비율  성별 방문등급
0  김담향  33      5  0.150000  여자    C
1  이재빈  25      1  0.040000  남자    C
2  김나영  26      4  0.150000  여자    C
3  김건우  28      1  0.050000  남자    C
4  김태영  26     20  0.780000  남자    A
5  김동일  26     21  0.810000  남자    A
6  명하영  27      8  0.296296  여자    C
7  조가영  27      9  0.333333  여자    B
8  강다솜  28      8  0.308036  여자    C
9  이강욱  43    100  2.325581  남자    A
0  김담향  33      5  0.150000  여자    C
3  김건우  28      1  0.050000  남자    C
7  조가영  27      9  0.333333  여자    B

In [33]:
x = np.random.randint(50,101,100_000_000)

In [34]:
score = []
for i in x:
    if i < 70:
        score.append("D")
    elif i < 80:
        score.append("C")
    elif i < 90:
        score.append("B")
    else:
        score.append("A")

In [35]:
len(score)

100000000

In [36]:
score1 = np.where(x >= 90, 'A', np.where(x >= 80,'B', np.where(x >= 70,'C','D')))

In [37]:
len(score1)

100000000

In [38]:
tmp.columns

Index(['이름', '나이', '박물관방문', '방문회수비율', '성별', '방문등급'], dtype='object')

In [39]:
tmp.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 3, 7], dtype='int64')

In [40]:
tmp

    이름  나이  박물관방문    방문회수비율  성별 방문등급
0  김담향  33      5  0.150000  여자    C
1  이재빈  25      1  0.040000  남자    C
2  김나영  26      4  0.150000  여자    C
3  김건우  28      1  0.050000  남자    C
4  김태영  26     20  0.780000  남자    A
5  김동일  26     21  0.810000  남자    A
6  명하영  27      8  0.296296  여자    C
7  조가영  27      9  0.333333  여자    B
8  강다솜  28      8  0.308036  여자    C
9  이강욱  43    100  2.325581  남자    A
0  김담향  33      5  0.150000  여자    C
3  김건우  28      1  0.050000  남자    C
7  조가영  27      9  0.333333  여자    B

In [41]:
tmp.dtypes

이름         object
나이          int32
박물관방문       int32
방문회수비율    float64
성별         object
방문등급       object
dtype: object

In [42]:
tmp.이름.values

array(['김담향', '이재빈', '김나영', '김건우', '김태영', '김동일', '명하영', '조가영', '강다솜',
       '이강욱', '김담향', '김건우', '조가영'], dtype=object)

In [43]:
tmp.loc[tmp.박물관방문.isna(),"박물관방문"]

Series([], Name: 박물관방문, dtype: int32)