In [1]:
import pandas as pd
import numpy as np

In [ ]:
origin_df = pd.DataFrame({'A':['강다솜','김나영','이강욱'],'B':['A','A','A'],'C':[1,2,3]})
update_df = pd.DataFrame({'A':['강다솜','김나영','이강욱'],'B':['A','A','B'],'C':[10,20,30]})

In [ ]:
# DataFrame 업데이트 하기

In [ ]:
# Merge 함수로 합치기

In [ ]:
# Replace 함수로 변수 바꾸기

In [ ]:
df = pd.read_csv('https://bit.ly/3RhoNho')

In [ ]:
# drop 함수로 한 줄 삭제하기

In [ ]:
# NaN 개수 구하기

In [ ]:
# 정보 보고 Not NaN 개수 구하기

In [ ]:
# NaN을 다른 값으로 대체하기

In [ ]:
# '인공지능'이 들어간 값의 개수

In [ ]:
person = np.random.choice(['female','male'],size=10000)
score = np.random.randint(50,100,size=(10000,4))
columns = ['Gender','Korean','English','Math','Science']
person = pd.DataFrame(person)
person = pd.concat([person,pd.DataFrame(score)],axis=1)
person.columns = columns
total = person.Korean + person.English + person.Math + person.Science
avg = total / 4

In [ ]:
# total, avg 행 추가하고 np.where 함수로 grade행 만들기

In [ ]:
# 평균값 내림차순으로 정렬하기

In [ ]:
# 국어 시험 성적이 제일 높은 사람의 점수 출력하기

In [ ]:
# 평균 점수 내림차순으로 데이터프레임 정렬하기

In [ ]:
# 제일 잘한 과목의 점수를 Best_Score 행으로 만들어 추가
# 제일 잘한과목명을 Best_Subject 행으로 만들어 추가
# 잘한 과목명 순서대로 Subject_Order 행으로 만들어 추가

In [ ]:
# 성별, Grade로 합쳐서 각 행의 평균, 합, 개수 구하기

In [ ]:
# person 데이터에서 가장 잘한 과목이 영어와 국어인 데이터를 제외하고 남자 여자의 영어, 수학의 평균을 구하기

In [ ]:
# 가장 잘하는 과목 명으로 병합 후 한국어와 영어 점수의 합 구하기

In [ ]:
# 각 항목의 수치형 정보, object 형 정보 구하기

In [ ]:
# 수치형 정보에서 30% 60% 90%의 값 구하기

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# 한국어 점수 그래프로 그리기